@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Gestionale aziendale</h1>
</div>
<hr />
<hr />
<hr />

<div class="row">
    <div class="col-md-4">
        <h2>Benvenuto nel gestionale di AleCaste18</h2>
        <p>
            Questo sito è un semplice gestionale creato con ASP.NET Core MVC ed EF Core come esercitazione.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Tutorial Seguito</h2>
        <p>Buona parte del codice deriva da questo tutorial</p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/intro?view=aspnetcore-6.0">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>GitHub Autore</h2>
        <p>Here you can find all the author's projects</p>
        <p><a class="btn btn-default" href="https://github.com/AleCaste18?tab=repositories">See GitHub &raquo;</a></p>
    </div>
</div>